:root {
  /** colors **/
  --bright-blue: #4285f4;
  --bright-blue-darker: #2254aa;
  --bright-blue-white: #eaf2ff;

  --darkgrey-font: #333;
  --lightgrey-font: #595959;
  --lightgrey-border: #cbccce;

  --instructions-bg: #ffeba6;
  --instructions-border: #edcf66;
  --instructions-font: #605220;

  /** other design params **/
  --border-radius: 3px;
}