html, body, #app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
}

.viewer {
  width: 100%;
  height: 100%;
}

.openseadragon-canvas {
  outline:none;
}